:root {
  --main-color: #00474f;
  --main-text-color: #fff;
}

nav {
  background-color: var(--main-color);
}

nav span {
  color: var(--main-text-color);
  font-weight: 600;
}

h2 {
  text-align: center;
  color: var(--main-color)!important;
}

div.container div.row {
  margin-bottom: 50px;
}

.room {
  text-align: center;
  color: var(--main-color);
  font-weight: 600;
  font-size: 18px;
}

footer {
  background-color: var(--main-color);
  color: var(--main-text-color);
}

footer a { 
  color: var(--main-text-color);
  font-weight: 600;
}

footer a:hover {
  color: var(--main-text-color);
  font-weight: 600;
  text-decoration: none;
}